/* Statistics */
.card__container {
    @media (max-width: 642px) {
        flex-direction: column;

        .card.--bar,
        .card.--pie {
            width: 100%; 
        }
    }
}
/* Responsive Navigation */
@media (max-width: 680px) {
    .header {
        padding: 0 10px;

        &__logo {
            height: 70px;
            width: 130px;
        }

        &__navigation {
            &__item {
                margin: 0 10px;
                font-size: 14px;
            }
        }

        &__username {
            display: none;
        }

        &__logout-btn {
            padding: 4px 6px !important;
            font-size: 0;

        }

        &__user-button__icon {
            margin-right: 15px;
            font-size: 18px;
        }

        &__container {
            justify-content: space-between;
            align-items: center;
        }
    }
}