html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(224, 224, 224);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Root-Element (#app) auf volle Höhe */
#app {
  height: 100%;
  width: 100%;
  display: flex;        /* optional für Layout */
  flex-direction: column; /* optional */
}

.headline {
  font-size: 26px;
}